<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MailDetails" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <MailDetails>
    <add key="Server" value="aqdeqw"/>
    <add key="Port" value="11111"/>
    <add key="UserName" value="ab@cd.com"/>
    <add key="Password" value="cd"/>
    <add key="EnableSsl" value="false"/>
  </MailDetails>

  <appSettings>
    <add key="ScheduledJobInterval" value="30000"/>
    <add key="SAFETY_TIMEOUT" value="30"/>
    <add key="enable"/>
    <add key="ServiceName" value="CTMSERVICETEST"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="15000"/>
    <add key="LicenseKey" value="ConfigFiles\License.txt"/>
    <add key="DefaultFilePath" value="{0}..\CosmosSecMasterFiles\SecMasterFiles\"/>
    <add key="MasterConfigPath" value="ConfigFiles\MasterConfig.xml"/>
    <add key="SecMCoreConfigPath" value="ConfigFiles\SecMCoreConfig.xml"/>
    <add key="SecMControlConfigPath" value="ConfigFiles\SecMControlConfig.xml"/>
    <add key="RuleConfiguration" value="ConfigFiles\RuleConfig.xml"/>
    <add key="ViewConfigPath" value="ConfigFiles\ViewConfig.xml"/>
    <add key="DalConfigurationPath" value="ConfigFiles\DalConfig.xml"/>
    <add key="LoggerConfigurationPath" value="ConfigFiles\LoggerConfig.xml"/>
    <add key="UserManagementConfigurationPath" value="ConfigFiles\UserManagementConfig.xml"/>
    <add key="TransportConfigurationPath" value="ConfigFiles\TransportConfig.xml"/>
    <add key="AuditLogConfigurationPath" value="ConfigFiles\AuditLogConfig.xml"/>
    <add key="RADDBConnectionId" value="radDB"/>
    <add key="SecMDBConnectionId" value="SecMDB"/>
    <add key="SecMArchiveDBConnectionId" value="SecMArchiveDB"/>
    <add key="SecMVendorDBConnectionId" value="SecMVendorDB"/>
    <add key="SecMVendorArchiveDBConnectionId" value="SecMVendorArchiveDB"/>
    <add key="FromEmailIdForPassword" value="support@ivp.in"/>
    <add key="FromEmailIdForTask" value="support@ivp.in"/>
    <add key="FromEmailIdForReportingTask" value="support@ivp.in"/>
    <add key="FromEmailIdForWorkflow" value="support@ivp.in"/>
    <add key="FromEmailIdForException" value="support@ivp.in"/>
    <add key="FromEmailIdForSecurity" value="support@ivp.in"/>
    <add key="SecMSetupConfigPath" value="ConfigFiles\SecMSetupConfig.xml"/>
    <add key="ParserConfigurationPath" value="ConfigFiles\ParserConfig.xml"/>
    <add key="SecMDynamicConfigurationPath" value="ConfigFiles\SecMDynamicConfig.xml"/>
    <add key="FieldDetailsSchema" value="ConfigFiles\fieldDetails.xsd"/>
    <add key="fileTemplateDirectory" value="D:\CosmosSecMaster\CosmosSecMasterFiles\Documents\SMFileTemplates\"/>
    <add key="IdentifierfileTemplateDirectory" value="D:\CosmosSecMaster\CosmosSecMasterFiles\Documents\IdentifierFileTemplates\"/>
    <add key="WizardFlowConfigPath" value="ConfigFiles\WizardFlowConfig.xml"/>
    <add key="WizardConfigPath" value="ConfigFiles\WizardConfig.xml"/>
    <add key="ArchiveDestination" value="D:\CosmosSecMaster\CosmosSecMasterFiles\SecMasterFiles\Archive\"/>
    <add key="DocumentDirectory" value="D:\CosmosSecMaster\CosmosSecMasterFiles\Documents\"/>
    <add key="GPGHomeDirectoryPath" value="D:\CosmosSecMaster\CosmosSecMasterFiles\GPG"/>
    <add key="ArchiveType" value="3"/>
    <add key="CustomClassPath" value="CustomClassConfig"/>
    <add key="defaultTheme" value="Aqua"/>
    <add key="ModuleId" value="4"/>
    <add key="SecMCoreControlsConfigPath" value="ConfigFiles\UIControls.xml"/>
    <add key="SecMCoreControlsXSLTConfigPath" value="ConfigFiles\Security.xslt"/>
    <add key="SecMDefaultManagerXSLTConfigPath" value="ConfigFiles\DefaultManager.xslt"/>
    <add key="SecMAttributeManagementXSLTConfigPath" value="ConfigFiles\SMAttributeManagement.xslt"/>
    <add key="SMReportConfiguration" value="ConfigFiles\SmReportConfig.xml"/>
    <add key="ReportingCoreConfiguration" value="ConfigFiles\ReportingCoreConfig.xml"/>
    <add key="ReportingSetupConfiguration" value="ConfigFiles\ReportingSetupConfig.xml"/>
    <add key="SecMHelpTextConfig" value="ConfigFiles\HelpText.xml"/>
    <add key="SecMSubscriptionConfig" value="ConfigFiles\EmailTemplate.xml"/>
    <add key="SecMExtractionReportDestination" value="D:\CosmosSecMaster\CosmosSecMasterFiles\SecMasterFiles\"/>
    <add key="VendorConfigurationPath" value="ConfigFiles\VendorManagement.xml"/>
    <add key="SecMUIXML" value="ConfigFiles\SecMUIXml.xml"/>
    <add key="SecMImportSetupXSL" value="ConfigFiles\SecMImport.xslt"/>
    <add key="TransportConfig" value="ConfigFiles\TransportConfig.xml"/>
    <add key="SecMClassSchemaPath" value="ConfigFiles\SecMClassSchema.xml"/>
    <add key="RADUIConfigPath" value="ConfigFiles\RADUIConfig.xml"/>
    <add key="PbAdapterConfigurationPath" value="ConfigFiles\PbAdapterConfig.xml"/>
    <add key="AuditHistorySchemaPath" value="ConfigFiles\AuditHistorySchema.xml"/>
    <add key="HelperXMLPath" value="ConfigFiles\CustCtrlMapping.xml"/>
    <add key="AspStateServer" value="aspStateDB"/>
    <add key="FromEmailIDForApp" value="productitsupport@ivp.in"/>
    <add key="MailTransportName" value="SMTPNOTIFY"/>
    <add key="NoOfRetry" value="5"/>
    <add key="MailNotificationFrequency" value="2"/>
    <add key="ExceptionLotSize" value="1000"/>
    <!--Included for Adapter - START-->
    <add key="CorpActionSystemId" value="1"/>
    <!--Included for Adapter - START-->
    <!--Included for Corporate Action - START-->
    <add key="CorpActCoreConfigPath" value="com.ivp.corpact.ui.ConfigFiles.CorpActCoreConfig.xml"/>
    <add key="CorpActControlConfigPath" value="com.ivp.corpact.ui.ConfigFiles.CorpActControlConfig.xml"/>
    <add key="CAReportConfiguration" value="com.ivp.corpact.ui.ConfigFiles.CAReportConfiguration.xml"/>
    <add key="CorpActDBConnectionId" value="CorpActDB"/>
    <add key="CorpActArchiveDBConnectionId" value="CorpActArchiveDB"/>
    <add key="CorpActVendorDBConnectionId" value="CorpActVendorDB"/>
    <add key="CorpActVendorArchiveDBConnectionId" value="CorpActVendorArchiveDB"/>
    <add key="CorpActSetupConfigPath" value="com.ivp.corpact.ui.ConfigFiles.CorpActSetupConfig.xml"/>
    <add key="CorpActSubscriptionConfig" value="ConfigFiles\EmailTemplate.xml"/>
    <add key="CorpActDynamicConfigurationPath" value="com.ivp.corpact.ui.ConfigFiles.CorpActDynamicConfig.xml"/>
    <add key="CorpActWizardFlowConfigPath" value="com.ivp.corpact.ui.ConfigFiles.WizardFlowConfig.xml"/>
    <add key="CorpActWizardConfigPath" value="com.ivp.corpact.ui.ConfigFiles.WizardConfig.xml"/>
    <add key="CorpActReportServicePath" value="com.ivp.corpact.ui.CAService.CAReportingService.asmx"/>
    <add key="CorpActFileTemplateDirectory" value="D:\CosmosSecMaster\CosmosSecMasterFiles\Documents\CAFileTemplates"/>
    <add key="CADefaultFilePath" value="D:\CosmosSecMaster\CosmosSecMasterFiles\CorpActionFiles\"/>
    <!--Included for Corporate Action - END-->
    <!--Included for Reference Master - Start-->
    <!--DB Connections-->
    <add key="RADDBConnectionId" value="radDB"/>
    <add key="RefMDBConnectionId" value="refMDB"/>
    <add key="RefMDBArchiveConnectionId" value="refMDB_Archive"/>
    <add key="RefMDBVendorConnectionId" value="refMDBVendor"/>
    <add key="RefMDBVendorArchiveConnectionId" value="refMDBVendor_Archive"/>
    <!--DB Connections-->
    <!--DB Connections CTM - Start-->
    <add key="CTMDBConnectionId" value="CTMDB"/>
    <!--DB Connections CTM - End-->
    <!--Document Directory-->
    <add key="RefM_LoadingFilePath" value="D:\CosmosSecMaster\CosmosSecMasterFiles\Refmloadingfiles\"/>
    <add key="documentDirectory" value="D:\CosmosSecMaster\CosmosSecMasterFiles\Documents\UploadedFiles\"/>
    <add key="RefM_fileTemplateDirectory" value="D:\CosmosSecMaster\CosmosSecMasterFiles\Documents\FileTemplates\"/>
    <add key="RefM_ReportingTaskPath" value="D:\CosmosSecMaster\CosmosSecMasterFiles\ReportingTask\"/>
    <add key="RefM_GPGHomeDirectory" value="E:\CosmosSecMaster\CosmosSecMasterFiles"/>
    <add key="RefM_ArchiveDestination" value="D:\CosmosSecMaster\CosmosSecMasterFiles\ReconLoadingFiles\Archive"/>
    <add key="RMExtractionReportDestination" value="D:\CosmosSecMaster\CosmosSecMasterFiles\RefMasterFiles\"/>
    <!--Document Directory-->
    <!--Subscription-->
    <add key="RefM_FromEmailIdForPassword" value="maggarwal@ivp.in"/>
    <add key="RefM_FromEmailIdForTask" value="maggarwal@ivp.in"/>
    <!--Subscription-->
    <add key="defaultTheme" value="Aqua"/>
    <add key="RefM_NoOfRetry" value="5"/>
    <add key="RefM_TransportName" value="SMTPNOTIFY"/>
    <add key="RefM_NotificationFrequency" value="2"/>
    <!--Included for Reference Master - End-->
    <add key="ClientName" value="Dev"/>
    <add key="NotificationToEmailIds" value=""/>
    <add key="SecMasterServiceName" value="SecMasterService"/>
    <add key="SecMasterServiceDisplayName" value="SecMasterService"/>
    <add key="SecMasterServiceAPIDllName" value="SecMasterServiceAPI.dll|CommonTaskManagerClient.dll"/>
    <add key="ServiceNameSpace" value="com.ivp.secm.api/"/>
    <add key="ServiceClassesToBeHosted" value="com.ivp.secm.api.basic.SecurityService,com.ivp.secm.api.ThirdPartyUpdate.ThirdPartyUpdateService,com.ivp.secm.api.SMPushAPI,com.ivp.secm.api.basic.SMCreateUpdateSecurityNew|CommonTaskManagerClient.RCTMServiceClient"/>
    <!--,com.ivp.secm.api.MigrationTool.SMMigrationUtilityManagerService,com.ivp.secm.api.MigrationTool.MigrationManagerService,-->
    <!-- com.ivp.secm.api.SMPushAPI,com.ivp.secm.api.basic.SMCreateUpdateSecurityNew -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="CTMClientRetryInterval" value="3000"/>
    <add key="CTMModuleId" value="3"/>
  </appSettings>


  <!-- Added by Utsav -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICTMService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8182/CTMService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ICTMService" contract="ServiceReference1.ICTMService"
        name="NetTcpBinding_ICTMService">
        <identity>
          <servicePrincipalName value="host/WS-UBeri.ivp.co.in" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="com.ivp.rad.RCommonTaskManager.CTMService">
        <!--behaviorConfiguration="CTMServiceMEXBehavior"-->
        <endpoint address="" binding="netTcpBinding" contract="com.ivp.rad.RCommonTaskManager.ICTMService"/>

        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8184/CTMService"/>
            <add baseAddress="http://localhost/CTMService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>



</configuration>
