<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ModuleId" value="1"/>
    <add key="CTMClientRetryInterval" value="30000"/>
  </appSettings>
  
 
  <system.serviceModel>
     <!--Config for creating service for InterProcess communication (CTMProcess as client)-->
    <services>
      <service behaviorConfiguration="ProcessListenerBehaviour" name="com.ivp.rad.RCommonTaskManager.RCTMServiceClient">
        <endpoint binding="basicHttpBinding" contract="com.ivp.rad.RCTMUtils.IInterProcessConnector" bindingConfiguration="httpBinding">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8113/com.ivp.rad.RCommonTaskManager.RCTMServiceClient"/>
          </baseAddresses>
        </host>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="http://localhost:8004/mexHTTP"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>

        <behavior name="ProcessListenerBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>

        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" transferMode="Buffered" maxBufferSize="67108864" maxReceivedMessageSize="67108864" maxBufferPoolSize="67108864" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <security mode="None"/>

          <readerQuotas maxArrayLength="67108864" maxBytesPerRead="67108864" maxStringContentLength="67108864" maxNameTableCharCount="67108864"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <!--Config for connecting to CTM Service as Client-->
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICTMService" />
      </netTcpBinding>
    </bindings>
  
    <client>
      <endpoint address="net.tcp://ws-uberi:8182/CTMService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_ICTMService" contract="ServiceReference1.ICTMService"
          name="NetTcpBinding_ICTMService">
        <identity>
          <servicePrincipalName value="host/WS-UBeri.ivp.co.in" />
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>
  
  
  
  
  
</configuration>