.ajax__calendar_container 
	{
		padding: 0px;
		position: absolute;
		cursor: default;
		width: 185px;
		font-size: 11px;
		text-align: center;
		font-family: lato;
		z-index: 1000;
	}
.ajax__calendar_body {
	height: 150px;
    width: 185px;
    position: relative;
    overflow: hidden;
    margin: auto;
}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {top:0px;left:0px;height:139px;width:170px;position:absolute;text-align:center;margin:auto;}
.ajax__calendar_container TABLE {font-size:11px;}
.ajax__calendar_header {
	height: 20px;
    width: 100%;
    color: rgb(71, 71, 71);
    font-family: lato;
    font-size: 11px;
    padding: 5px;
    font-weight: bold;
}
.ajax__calendar_prev {
	cursor: pointer;
    width: 15px;
    height: 15px;
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(images/calendar/prev_mon.gif);
}
.ajax__calendar_next {
	cursor: pointer;
    width: 15px;
    height: 15px;
    float: right;
	margin-right: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(images/calendar/next_mon.gif);
}
.ajax__calendar_title {cursor:pointer;font-weight:bold;padding-top:2px;}
.ajax__calendar_footer {height:15px;}
.ajax__calendar_today {cursor:pointer;padding-top:3px;}
.ajax__calendar_dayname {
	height: 17px;
    width: 17px;
    text-align: right;
    padding: 0 2px;
    font-family: lato;
    font-size: 10px;
    font-weight: bold;
    color: #666;
    margin-top: 3px;
}
.ajax__calendar_day {
	height: 17px;
    width: 18px;
    text-align: center;
    padding: 0 3px;
    cursor: pointer;
    color: rgb(71, 71, 71);
    font-family: lato;
    font-size: 11px;
    font-weight: normal;
    margin-top: 2px;
}
.ajax__calendar_month {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}
.ajax__calendar_year {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}

.ajax__calendar .ajax__calendar_container 
{
	background-color: #ffffff;
    color: #000000;
    border-left: 1px solid rgb(201, 201, 201);
    border-right: 1px solid rgb(201, 201, 201);
    border-bottom: 2px solid rgb(213, 213, 213);
}
.ajax__calendar .ajax__calendar_footer {
	color: rgb(71, 71, 71);
    font-family: Lato;
    font-size: 11px;
}
.ajax__calendar .ajax__calendar_dayname {}
.ajax__calendar .ajax__calendar_day {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_month {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_year {border:1px solid #ffffff;}

.ajax__calendar .ajax__calendar_active .ajax__calendar_day {
	background-color: #00bff0;
    border-color: white;
    color: white;
    padding-top: 3px;
}
.ajax__calendar .ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}

.ajax__calendar .ajax__calendar_other .ajax__calendar_day {
	background-color: #ffffff;
    border-color: #ffffff;
    color: #ccc;
    font-family: lato;
    font-size: 11px;
    font-weight: normal;
    margin-top: 2px;
}
.ajax__calendar .ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_day {

}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}