<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MailDetails" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <MailDetails>
    <add key="Server" value="aqdeqw"/>
    <add key="Port" value="11111"/>
    <add key="UserName" value="ab"/>
    <add key="Password" value="cd"/>
    <add key="EnableSsl" value="false"/>


  </MailDetails>

  <appSettings>
    <add key="TimerInterval" value="600000"/>


    <add key="SocketHostServicePath" value="localhost"/>
    <add key="ServerSideViewState" value="true"/>
    <add key="AspStateServer" value="aspStateDB"/>
    <!-- Refmaster -->
    <add key="RADDBConnectionId" value="radDB"/>
    <add key="RefMDBConnectionId" value="refMDB"/>
    <add key="RefMDBArchiveConnectionId" value="refMDB_Archive"/>
    <add key="RefMDBVendorConnectionId" value="refMDBVendor"/>
    <add key="RefMDBVendorArchiveConnectionId" value="refMDBVendor_Archive"/>
    <add key="PMDBConnectionId" value="pmDB"/>
    <add key="PMDBArchiveConnectionId" value="pmDB_Archive"/>
    <add key="PMDBVendorConnectionId" value="pmDBVendor"/>
    <add key="PMDBVendorArchiveConnectionId" value="pmDBVendor_Archive"/>
    <add key="CTMDBConnectionId" value="CTMDB"/>

    <add key="ArchiveType" value="1"/>
    <add key="ModuleId" value="10"/>
    <add key="defaultTheme" value="Aqua"/>
    <add key="FieldDetailsSchema" value="ConfigFiles\fieldDetails.xsd"/>
    <add key="MasterConfigPath" value="ConfigFiles\MasterConfig.xml"/>
    <add key="LicenseKey" value="ConfigFiles\License.txt"/>
    <add key="GPGHomeDirectory" value="{0}\..\GPG"/>
    <add key="DefaultFilePath" value="{0}\..\CosmosPriceMasterFiles\PriceMasterLoadingFiles\"/>
    <add key="ReportingTaskPath" value="{0}\..\CosmosPriceMasterFiles\ReportingTask\"/>
    <add key="ArchiveDestination" value="{0}\..\CosmosPriceMasterFiles\PriceMasterLoadingFiles\Archive"/>
    <add key="RADFileUploadDirectory" value="{0}\..\CosmosPriceMasterFiles\Documents\UploadedFiles\"/>
    <add key="ExtractionReportDestination" value="{0}\..\CosmosPriceMasterFiles\PriceMasterLoadingFiles\"/>
    <add key="AlertSubscription" value="{0}\..\CosmosPriceMasterFiles\AlertSubscription\"/>
    <add key="BrokerDataCommunication" value="{0}\..\CosmosPriceMasterFiles\BrokerDataCommunication\"/>
    <add key="AttachmentFolderPath" value="{0}\..\CosmosPriceMasterFiles\PositionRecordAttachments\"/>
    <add key="FromEmailIDForApp" value="reconadmin@ivp.in"/>
    <add key="MailTransportName" value="SMTPNOTIFY"/>
    <add key="CaseMailTransportName" value="SMTPNOTIFYCASE"/>
    <add key="CaseMailPOP3TransportName" value="PMasterIMAP"/>
    <add key="FromEmailIDForCase" value="pmaster@ivp.in"/>
    <add key="CaseMailTransportName" value="SMTPNOTIFYCASE"/>
    <add key="NoOfRetry" value="5"/>
    <add key="MailNotificationFrequency" value="2"/>
    <add key="TaskStatusMessage" value="Price Master Task Status:- Task Name: {0} ; Status: {1}"/>
    <add key="GenevaURL" value="http://192.168.0.21:4640/"/>
    <add key="GenevaPort" value="4635"/>
    <add key="GenevaHostName" value="genevasrv03.ivp.in"/>
    <add key="GenevaUID" value="pmteam"/>
    <add key="GenevaPassword" value="pmteam"/>
    <add key="RefTypeEntity" value="Broker Email Address"/>
    <!--<add key="AttachmentsLocation" value="Maildownloader\attachments"/>-->
    <add key="AttachmentsLocation" value="{0}\..\CosmosPriceMasterFiles\BrokerDataCommunication"/>
    <add key="UseHttpCache" value="true"/>
    <add key="GridInfoPath" value=""/>
    <add key="LoadAllLayoutsFirstTime" value=""/>
    <add key="realtimePriceListId" value="2"/>
    <add key="realtimedepSecIds" value="EOLI000"/>
    <add key="realtimeBusinessDay" value="20110307"/>
    <add key="realtimeCounter" value="0"/>
    <add key="realtimetick" value="3000"/>
    <add key="PriceMaster_Task_Schedulable_Job" value="PriceMaster_Task_Schedulable_Job"/>
    <!-- Tableau Settings -->
    <add key="istableauprovided" value="false"/>
    <add key="TableauServer" value="http://192.168.0.17:8000/trusted/"/>
    <add key="TableauServerUser" value="username=msareen&amp;client_ip="/>
    <add key="DashBoardPath" value="/views/Dashboard/Dashboard"/>
    <add key="AllocCount" value="5"/>
    <add key="PolarisStatusLink" value=""/>
    <add key="PolarisPostLink" value=""/>
    <add key="UseProcess" value="false"/>
    <add key="BrowserPort" value="4531"/>
    <add key="LayoutPort" value="4532"/>
    <add key="IsGroupByExternalId" value="false"/>
    <add key="IsBrokerAuditReqd" value="true"/>
    <add key="ColumnsForCustomFormatting" value="WSO Extract.EOM Price,Asset Manager Extract.Fair Market Value"/>
    <!--<add key="Attribute_Mapping_Previous_Month" value="Previous_Month_Marks:EOM_Price,Prior_Discout_Rate:Current_Discount_Rate"/>-->
    <add key="ServiceClassesToBeHosted" value="com.ivp.pricemaster.pricemasterwebservices.SocketServiceAPI,com.ivp.pricemaster.pricemasterwebservices.PMProcessIDLockHandler,com.ivp.pricemaster.pmmigrationapi.PMPatchMigrationAPI"/>
    <add key="Assemblies" value="PMSetupAPI.dll,PMMigrationAPI.dll"/>
    <add key="Attribute_Mapping_Previous_Month" value="Previous_Month_Marks:EOM_Price,Previous_Month_Market_Value:Fair_Market_Value"/>
    <add key="Attribute_Mapping_Previous_Run" value="Previous_Run_Mark:EOM_Price,Original_Outstanding:Original_Outstanding,Original_Commitment:Original_Commitment"/>
    <add key="EditableColumnList" value="Marks Change Text,Active Mark"/>
    <add key="IgnorePrivileges" value="false"/>
    <add key="UnhandledExceptionErrorMessage" value="Please refresh the page."/>
    <add key="CTMClientRetryInterval" value="300"/>
    <add key="isCTMProvided" value="true"/>




  </appSettings>

  <system.serviceModel>
    <!--Config for connecting to com.ivp.rad.RCommonTaskManager.RCTMServiceClient for interprocess communication-->
    <client>

      <endpoint address="http://localhost:8113/CommonTaskManagerClient.RCTMServiceClient" binding="basicHttpBinding" bindingConfiguration="httpBinding" contract="com.ivp.rad.RCTMUtils.IInterProcessConnector" name="CommonTaskManagerClient.RCTMServiceClient"/>


      <endpoint address="http://localhost:8019/PMService/PMProcessIDLockService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_PMProcessIDLockHandler" contract="PMProcessIDLockHandler.PMProcessIDLockHandler" name="WSHttpBinding_PMProcessIDLockHandler"/>

      <endpoint address="http://192.168.0.17:8011/RADService/RADSocketService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_SocketServiceAPI" contract="UpdateSocket.SocketServiceAPI" name="WSHttpBinding_SocketServiceAPI"/>







    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ProcessListenerBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>

        </behavior>
      </serviceBehaviors>

    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" transferMode="Buffered" maxBufferSize="67108864" maxReceivedMessageSize="67108864" maxBufferPoolSize="67108864" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <security mode="None"/>

          <readerQuotas maxArrayLength="67108864" maxBytesPerRead="67108864" maxStringContentLength="67108864" maxNameTableCharCount="67108864"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_SocketServiceAPI" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true"/>
          </security>
        </binding>

        <binding name="WSHttpBinding_PMProcessIDLockHandler" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
