<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LicenseKey" value="ConfigFiles\License.txt"/>
    <add key="DefaultFilePath" value="{0}..\..\CosmosSecMasterFiles\SecMasterFiles\"/>
    <add key="MasterConfigPath" value="ConfigFiles\MasterConfig.xml"/>
    <add key="DalConfigurationPath" value="ConfigFiles\DalConfig.xml"/>
    <add key="LoggerConfigurationPath" value="ConfigFiles\LoggerConfig.xml"/>
    <add key="UserManagementConfigurationPath" value="ConfigFiles\UserManagementConfig.xml"/>
    <add key="RADDBConnectionId" value="radDB"/>
    <add key="SecMDBConnectionId" value="SecMDB"/>
    <add key="SecMArchiveDBConnectionId" value="SecMArchiveDB"/>
    <add key="SecMVendorDBConnectionId" value="SecMVendorDB"/>
    <add key="SecMVendorArchiveDBConnectionId" value="SecMVendorArchiveDB"/>
    <add key="FromEmailIdForPassword" value="schauhan@ivp.in"/>
    <add key="FromEmailIdForTask" value="schauhan@ivp.in"/>
    <add key="FromEmailIdForReportingTask" value="abhgupta@ivp.in"/>
    <add key="FromEmailIdForWorkflow" value="schauhan@ivp.in"/>
    <add key="FromEmailIdForException" value="schauhan@ivp.in"/>
    <add key="FromEmailIdForSecurity" value="schauhan@ivp.in"/>
    <add key="SecMSetupConfigPath" value="ConfigFiles\SecMSetupConfig.xml"/>
    <add key="FieldDetailsSchema" value="ConfigFiles\fieldDetails.xsd"/>
    <add key="fileTemplateDirectory" value="{0}..\..\CosmosSecMasterFiles\Documents\SMFileTemplates\"/>
    <add key="ArchiveDestination" value="{0}..\..\CosmosSecMasterFiles\SecMasterFiles\Archive\"/>
    <add key="DocumentDirectory" value="{0}..\..\CosmosSecMasterFiles\Documents\"/>
    <add key="AdapterDirectory" value="{0}\..\..\Adapters\"/>
    <add key="ArchiveType" value="3"/>
    <add key="CustomClassPath" value="CustomClassConfig"/>
    <add key="defaultTheme" value="Aqua"/>
    <add key="ModuleId" value="3"/>
    <add key="SecMCoreControlsXSLTConfigPath" value="ConfigFiles\Embedded\Security.xslt"/>
    <add key="SecMDefaultManagerXSLTConfigPath" value="ConfigFiles\DefaultManager.xslt"/>
    <add key="SecMAttributeManagementXSLTConfigPath" value="ConfigFiles\SMAttributeManagement.xslt"/>
    <add key="SMReportConfiguration" value="ConfigFiles\SmReportConfig.xml"/>
    <add key="ReportingCoreConfiguration" value="ConfigFiles\ReportingCoreConfig.xml"/>
    <add key="ReportingSetupConfiguration" value="ConfigFiles\ReportingSetupConfig.xml"/>
    <add key="SecMHelpTextConfig" value="ConfigFiles\HelpText.xml"/>
    <add key="VendorConfigurationPath" value="ConfigFiles\VendorManagement.xml"/>
    <add key="SecMUIXML" value="ConfigFiles\SecMUIXml.xml"/>
    <add key="SecMImportSetupXSL" value="ConfigFiles\SecMImport.xslt"/>
    <add key="HelperXMLPath" value="ConfigFiles\CustCtrlMapping.xml"/>
    <add key="AspStateServer" value="aspStateDB"/>
    <add key="ExceptionLotSize" value="50"/>
    <add key="UseProcess" value="True"/>
    <add key="UseHttpCache" value="true"/>
    <add key="CustomReportMaxItems" value="8"/>
    <add key="ClientName" value="Harbinger"/>
    <add key="RefMReportViewerMethodCall" value="ResizeReport()"/>
    <!--Included for External Adapter - START-->
    <add key="CorpActionAdapter" value="GenevaAdapter.dll"/>
    <add key="CorpActionAdapterClassName" value="com.ivp.GenevaAdapter.GenevaV7_6.GenevaAdapter"/>
    <add key="CorpActionSystemId" value="1"/>
    <add key="GenevaURL" value="http://192.168.0.21:4640/"/>
    <add key="GenevaPort" value="4635"/>
    <add key="GenevaHostName" value="genevasrv03.ivp.in"/>
    <add key="GenevaUID" value="accessadmin"/>
    <add key="GenevaPassword" value="W3lcome"/>
    <add key="genevaAdapterMapping" value="ConfigFiles\AdapterMapping.xml"/>
    <add key="GenevaSystemId" value="34"/>
    <add key="EzeSystemId" value="35"/>
    <add key="GenevaSystemIdSecMaster" value="34"/>
    <add key="EzeSystemIdSecMaster" value="35"/>
    <add key="GenevaSystemIdRefMaster" value="1"/>
    <add key="EzeSystemIdSecMasterRefMaster" value="2"/>
    <add key="AdapterLogPath" value="{0}\..\..\ServiceLog\mcWindowsService.txt"/>
    <add key="ezeUid" value="avenuetest"/>
    <add key="ezePwd" value="avenuetest"/>
    <add key="ezePushSize" value="200"/>
    <add key="ResponsePacketSize" value="200"/>
    <add key="SecMasterAttribute" value="geneva_id"/>
    <add key="RefMasterAttribute" value="Geneva_Code"/>
    <!--Included for External Adapter - START-->
    <!--Included for Rule Creation - START-->
    <add key="CustomModalsAssemblyPath" value="{0}\..\..\..\..\..\RefDlls\SecMasterCustomModals"/>
    <add key="CustomModalClassName" value="com.ivp.secm.secmasterCustomModals.Increment"/>
    <!--Included for Rule Creation - END-->
    <!--Included for Dashboard - START-->
    <add key="DashboardRequired" value="false"/>
    <!--Included for Dashboard - END-->
    <!--Included for Corporate Action - START-->
    <add key="CorpActCoreConfigPath" value="com.ivp.corpact.ui.ConfigFiles.CorpActCoreConfig.xml"/>
    <add key="CorpActControlConfigPath" value="com.ivp.corpact.ui.ConfigFiles.CorpActControlConfig.xml"/>
    <add key="CAReportConfiguration" value="com.ivp.corpact.ui.ConfigFiles.CAReportConfiguration.xml"/>
    <add key="CorpActDBConnectionId" value="CorpActDB"/>
    <add key="CorpActArchiveDBConnectionId" value="CorpActArchiveDB"/>
    <add key="CorpActVendorDBConnectionId" value="CorpActVendorDB"/>
    <add key="CorpActVendorArchiveDBConnectionId" value="CorpActVendorArchiveDB"/>
    <add key="CorpActSetupConfigPath" value="com.ivp.corpact.ui.ConfigFiles.CorpActSetupConfig.xml"/>
    <add key="CorpActSubscriptionConfig" value="ConfigFiles\EmailTemplate.xml"/>
    <add key="CorpActDynamicConfigurationPath" value="com.ivp.corpact.ui.ConfigFiles.CorpActDynamicConfig.xml"/>
    <add key="CorpActWizardFlowConfigPath" value="com.ivp.corpact.ui.ConfigFiles.WizardFlowConfig.xml"/>
    <add key="CorpActWizardConfigPath" value="com.ivp.corpact.ui.ConfigFiles.WizardConfig.xml"/>
    <add key="CorpActReportServicePath" value="com.ivp.corpact.ui.CAService.CAReportingService.asmx"/>
    <add key="CorpActFileTemplateDirectory" value="{0}\..\..\CosmosSecMasterFiles\Documents\CAFileTemplates"/>
    <add key="CADefaultFilePath" value="{0}\..\..\CosmosSecMasterFiles\CorpActionFiles\"/>
    <add key="CorpActionHelperXMLPath" value="com.ivp.corpact.ui.ConfigFiles.CustCtrlMapping.xml"/>
    <!--Included for Corporate Action - END-->
    <!--Included for Reference Master - Start-->
    <!--DB Connections-->
    <add key="RADDBConnectionId" value="radDB"/>
    <add key="RefMDBConnectionId" value="refMDB"/>
    <add key="RefMDBArchiveConnectionId" value="refMDB_Archive"/>
    <add key="RefMDBVendorConnectionId" value="refMDBVendor"/>
    <add key="RefMDBVendorArchiveConnectionId" value="refMDBVendor_Archive"/>
    <!--DB Connections-->
    <!--Document Directory-->
    <add key="GPGHomeDirectory" value="{0}\..\..\GPG"/>
    <add key="ReportingTaskPath" value="{0}\..\..\CosmosSecMasterFiles\ReportingTask\"/>
    <add key="ArchiveDestination" value="{0}\..\..\CosmosSecMasterFiles\ReconLoadingFiles\Archive"/>
    <add key="RADFileUploadDirectory" value="{0}\..\..\CosmosReconFiles\Documents\UploadedFiles\"/>
    <add key="ExtractionReportDestination" value="{0}\..\..\CosmosSecMasterFiles\RefMasterFiles\"/>
    <add key="SecMasterWorkflowQueue" value="SecMasterWorkflowQueue"/>
    <!--Document Directory-->
    <!--Subscription-->
    <!--Subscription-->
    <add key="defaultTheme" value="Aqua"/>
    <add key="ModuleId" value="6"/>
    <add key="FromEmailIDForApp" value="productitsupport@ivp.in"/>
    <add key="MailTransportName" value="SMTPNOTIFY"/>
    <add key="NoOfRetry" value="5"/>
    <add key="MailNotificationFrequency" value="2"/>
    <add key="UseProcess" value="true"/>
    <add key="Assembly" value="SecMasterTaskManager.dll"/>
    <add key="ClassName" value="com.ivp.secm.taskmanager.SMTaskManager"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="AuditReportSecIdBatchSize" value="100"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
