<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MailDetails" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <MailDetails>
    <add key="Server" value="aqdeqw"/>
    <add key="Port" value="11111"/>
    <add key="UserName" value="ab@cd.com"/>
    <add key="Password" value="cd"/>
    <add key="EnableSsl" value="false"/>
  </MailDetails>

  <appSettings>
    <add key="MasterConfigPath" value="ConfigFiles\MasterConfig.xml"/>
    <add key="ScheduledJobInterval" value="30000"/>
    <add key="SAFETY_TIMEOUT" value="30"/>
    <add key="enable"/>
    <add key="ServiceName" value="CTMSERVICETEST"/>
    
  </appSettings>
  
  
  <!-- Added by Utsav -->
  <system.serviceModel>
    <services>
      <service name="com.ivp.rad.RCommonTaskManager.CTMService">
        <!--behaviorConfiguration="CTMServiceMEXBehavior"-->
        <endpoint address="" binding="netTcpBinding" contract="com.ivp.rad.RCommonTaskManager.ICTMService"/>

        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/CTMService"/>
            <add baseAddress="http://localhost/CTMService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  
  
</configuration>
