<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings file="ConfigFiles\appSettings.config">
  </appSettings>
  <system.serviceModel>
    <bindings configSource="ConfigFiles\serviceBindings.config"/>
    <client configSource="ConfigFiles\serviceClientEndpoint.config"/>
    <behaviors configSource="ConfigFiles\serviceBehaviors.config"/>
    <extensions>
      <behaviorExtensions>
        <add name="SRMMessageInspectorBehavior" type="SRMMessageInspector.SRMMessageInspectorBehaviorExtensionElement, SRMMessageInspector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="com.ivp.srm.dwhdownstream.SRMDWHAPI" behaviorConfiguration="ServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/SRMDWHService" />
          </baseAddresses>
        </host>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <endpoint address="/basic" binding="basicHttpBinding" contract="com.ivp.srm.dwhdownstream.ISRMDWHAPI" bindingConfiguration="IncreasedBuffer" />
        <endpoint address="" binding="webHttpBinding" contract="com.ivp.srm.dwhdownstream.ISRMDWHAPI" behaviorConfiguration="ServiceWeb" bindingConfiguration="dragDropConfiguration"/>
      </service>
    </services>    
  </system.serviceModel>
</configuration>