<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
      <services>
      <service behaviorConfiguration="ProcessListenerBehaviour" name="CommonTaskManagerClient.RCTMServiceClient">
        <endpoint binding="basicHttpBinding" contract="com.ivp.rad.RCTMUtils.IInterProcessConnector" bindingConfiguration="httpBinding">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8113/com.ivp.rad.RCommonTaskManager.RCTMServiceClient"/>
          </baseAddresses>
        </host>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="http://localhost:8004/mexHTTP"/>
      </service>
      </services>

      <behaviors>
        <serviceBehaviors>
          <behavior name="metadataBehavior">
            <serviceMetadata/>
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>

          <behavior name="ProcessListenerBehaviour">
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="true"/>

          </behavior>
        </serviceBehaviors>
      </behaviors>

      <bindings>
        <basicHttpBinding>
          <binding name="httpBinding" closeTimeout="00:20:00" openTimeout="00:20:00"
            receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="67108864"
            maxBufferSize="67108864" maxReceivedMessageSize="67108864" transferMode="Buffered">
            <readerQuotas maxStringContentLength="67108864" maxArrayLength="67108864"
              maxBytesPerRead="67108864" maxNameTableCharCount="67108864" />
            <security mode="None" />
          </binding>
        </basicHttpBinding>
        <netTcpBinding>
          <binding name="NetTcpBinding_ICTMService" />
          <binding name="NetTcpBinding_ICTMService1" />
        </netTcpBinding>
      </bindings>

     
        <client>
            <endpoint address="net.tcp://localhost:8182/CTMService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICTMService" contract="com.ivp.rad.RCommonTaskManager.ICTMService"
                name="NetTcpBinding_ICTMService">
                <identity>
                    <servicePrincipalName value="host/WS-UBeri.ivp.co.in" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8182/CTMService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICTMService1" contract="ServiceReference1.ICTMService"
                name="NetTcpBinding_ICTMService1">
                <identity>
                    <servicePrincipalName value="host/WS-UBeri.ivp.co.in" />
                </identity>
            </endpoint>
        </client>
      
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
