#RADClientIDSecretApp {
    height: 100%;
    background-color: white;
    font-family: 'Open Sans';
    width: 100%;
}

.RADClientIDSecretMainBody {
    height: 100%;
    width: 100%;
    position: relative;
}

.RADCreateIDMain {
    padding: 10px;
    background-color: #fbfcff;
    /* border: 1px solid; */
}

.RADCreateIDField {
    padding-right: 20px;
    display: flex;
    /* width: 15%; */
    /* align-items: center; */
    justify-content: flex-start;
    flex-direction: column;
}

.RADCreateIDFieldsParent {
    display: flex;
    padding-left: 15px;
    align-items: center;
    width: calc(100% - 200px);
}

label.RADCreateIDFieldLabel {
    padding-right: 10px;
}

.RADCreateIDButton {
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.RADClientIDListMain {
    height: calc(100% - 64px);
    /* border: 1px solid; */
    border-top: 1px solid #e9ebf5;
    padding: 20px;
    padding-top: 15px;
}

.RADCreateIDActionParent {
    display: flex;
    align-items: center;
    margin-top: 13px;
    font-size: 12px;
    padding-left: 40px;
}

.RADClientAppButton {
    padding: 2px 8px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    background-color: #525878;
}

div#RADCreateIDDone {
    margin-right: 10px;
    height: fit-content;
}

.RADCreateIDFieldInput.RADCreateIDUserDD {
    min-width: 100px;
    /* background-color: white; */
    border: 1px solid;
    width: 100%;
    cursor: pointer;
    height: 100%;
    border: none;
    /* border-radius: 4px; */
    height: 23px;
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    text-indent: 10px;
    text-overflow: ellipsis;
    border-bottom: 1px solid #525878;
    overflow: hidden;
    white-space: nowrap;
}

.RADClientIDDropDownList {
    position: absolute;
    z-index: 9;
    width: 100%;
    box-shadow: 0px 3px 6px #bfbfbf;
    background-color: white;
}

.RADClientIDDropDownListBody {
    max-height: 200px;
    overflow: auto;
}

.RADClientIDDropDownListOption {
    font-size: 13px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 2px 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 20px;
}

.RADClientIDDropDownListOption:hover {
    background-color: #f1f1f1
}

.RADCreateNewUserOption {
    font-size: 12px;
    line-height: 25px;
    color: #525878;
    padding: 0px 6px;
    cursor: pointer;
}

.RADCreateNewUserMain {
    /* position: absolute; */
    /* top: 0px; */
    /* text-align: center; */
    /* padding: 30px; */
    /* height: 100%; */
    /* width: 100%; */
    background-color: #fbfcff;
}

.RADCreateNewUserBody {
    background-color: #fbfcff;
    /* height: 100%; */
    /* width: 80%; */
    /* margin: auto; */
    padding: 15px;
    /* box-shadow: 0px 0px 14px 3px #cacaca; */
}

.RADCreateNewUserActionBar {
    margin-top: 26px;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.RADCreateUserFormFieldLabel {
    /* margin-right: 17px; */
    width: 30%;
    /* text-align: center; */
}

.RADCreateUserForm {
    /* display: flex; */
    /* flex-wrap: wrap; */
    grid-template-columns: 25% 25% 25% 25%;
    display: grid;
    /* justify-content: flex-start; */
}

.RADCreateUserFormField {
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    padding: 10px;
    /* align-items: center; */
}

.RADClientAppButton.RADClientAppDoneButton {
    margin-right: 20px;
}

.RADCreateUserFormFieldDD {
    height: 20px;
    width: 100%;
    position: relative;
    /* width: 100px; */
    /* background-color: white; */
    border: 1px solid;
    cursor: pointer;
    height: 100%;
    border: none;
    border-bottom: 1px solid #525878;
    /* border-radius: 4px; */
    height: 23px;
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    text-indent: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* border: 1px solid; */
}

.RADClientIDDropDownListSearchParent {
    width: 100%;
}

input.RADClientIDDropDownListSearch {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    text-indent: 20px;
}

span.RADClientIDDropDownListSearchIcon {
    position: absolute;
    color: #949494;
    left: 2px;
}

.RADClientIDHeaderUserName, .RADClientIDUser {
    width: 10%;
    min-width: 120px;
    /* background-color: #f2f3f7; */
    /* text-align: center; */
}

.RADClientIDHeader {
    display: flex;
    padding: 5px;
    width: calc(100% - 50px);
}

.RADClientIDEach {
    display: flex;
    padding: 3px 5px;
    /* border-bottom: 1px solid #d0d0d0; */
    width: 100%;
}
.RADClientIDHeaderDesc, .RADClientIDDesc {
    width: 20%;
    /* text-align: center; */
    min-width: 240px;
}

.RADClientIDHeaderExpiry, .RADClientIDExpiry {
    width: 8%;
    /* text-align: center; */
    min-width: 100px;
}

.RADClientIDHeaderClientID, .RADClientID {
    width: 22%;
    min-width: 285px;
    /* text-align: center; */
}

.RADClientIDHeaderEach, .RADClientIDCell {
    /* border: 1px solid; */
    text-align: left;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.RADClientIDHeaderClientSec, .RADClientSecret {
    min-width: 285px;
    /* text-align: center; */
    width: 22%;
}

.RADClientIDHeaderEach{
    font-weight: 400;
    padding: 3px 0px;
    font-size: 13px;
    padding-left: 10px;
    color: #606569;
}

.RADClientIDDelete {
    width: 26px;
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
    color: #ccc;
    text-align: center;
}

.RADCreateIDBody {
    display: flex;
    width: 100%;
}

.RADCreateIDExpiryInputParent {
    display: flex;
}

.RADCreateIDExpiryInput input {
    border-radius: 4px !important;
    width: 60px !important;
}

.RADCreatIDNotificationInput {
    height: 75px !important;
    min-width: 250px;
}

#RADCreateIDCancel {
    height: fit-content;
}

.RADCreateIDExpiryInput {
    padding-right: 10px;
    display: flex;
}

.RADClientIDEachDetails {
    display: flex;
    font-size: 13px;
    width: calc(100% - 50px);
    /* padding: 2px 0px; */
    border: 1px solid #e3e5ec;
}

.RADClientIDUser {
    background-color: #f1f3f6;
}

.RADClientIDListHeader {
    padding-left: 10px;
    color: #7e8595;
    font-size: 15px;
    /* width: 100%; */
    padding-bottom: 10px;
}

.RADClientIDHeaderNotification, .RADClientNotification {
    width: 18%;
    min-width: 200px;
}

.RADClientAppButton2{
    cursor: pointer;
}

.RADCreateIDMain.RADCreateIDMainDisabled {
    pointer-events: none;
    opacity: 0.5;
}

input.RADCreateUserFormFieldInput {
    width: 65%;
}

.RADCreateUserFormFieldDDParent {
    width: 65%;
    position: relative;
}

span.RADClientIDDDSelectIcon.fas.fa-check {
    font-size: 11px;
    color: #4f72da;
    position: absolute;
    left: 6px;
    top: 6px;
}

.RADCreateIDHeader {
    padding-left: 15px;
    font-size: 15px;
}

.RADCreateNewUserHeader {
    font-size: 15px;
    background-color: #fbfcff;
    padding-left: 15px;
}

.RADClientIDCell {
    color: #202533;
    position: relative;
}

#RADClientIDSecretApp input {
    outline: none;
    border: none;
    border-bottom: 1px solid #525878;
    border-radius: 0 !important;
    text-indent: 10px;
}

input.RADCreateIDFieldInput.RADCreatIDDescInput {
    background-color: #fbfcff;
}

#RADClientIDSecretApp textarea {
    padding: 6px;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    background-color: #f9f9f9;
    outline: none;
    text-indent: 10px;
}

input.RADCreateUserFormFieldInput {
    background-color: #fbfcff;
}

.RADCreateIDButton {
    padding: 6px;
}

span.RADCpytoClipIcon {
    position: absolute;
    right: 8px;
    cursor: pointer;
    color: #8c8c8c;
    top: 5px;
}

.RADCreateIDFieldUser {
    width: 15%;
}

.RADCreateIDFieldDesc {
    width: 25%;
}

.RADCreateIDFieldExpiry {
    width: 30%;
}

.RADCreateIDFieldNotification {
    width: 30%;
}

.RADClientIDRenew {
    padding: 5px;
    cursor: pointer;
    color: #cecece;
}