.draftsActionSectionStyle {
	margin-top : 8px;
    margin-bottom: 5px;
    height: 23px;
}

.draftsActionListStyle
{
    width: 110px;
    float:right;
}

.draftsAction
{
    font-family: Lato;
    color: White;
    height: 22px;
    font-family: Lato;
    font-size: 12px;
    font-family: 'lato' , Sans-Serif;
    width: auto;
    text-align: center;
    border: 0 #ea9747;
    height: 22px;
    background: #ea9747;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    -webkit-user-select: none;
    outline: none;
    font-size: 14px;
    text-align: center;
    width: 70px;
    color: #fff;
    line-height: 21px;
}

.draftsDisabled
{
    background-color: #CFCFCF;
    color: #000;
    cursor: default;
}

.draftsStatusRefreshButtonDiv {
    /*display: inline-block; 
    margin-right: 14px; 
    margin-top: 5px;*/
    color: rgb(210, 210, 210);
    font-size: 17px;
    vertical-align: top;
}

.draftsStatusRefreshButtonParent {
    display:inline-block;
    cursor:pointer;
    padding-left: 10px;
}


.draftspopupTitle 
{
    padding-top:15px;
    font-size: 16px;
}

.draftsPopupCloseBtn 
{
	color: #cdcdcd;
    cursor: pointer;
    float: right;
    margin-right: 4px;
    margin-top: 3px;
}

.draftsPopupCloseBtn:hover
{
    color:#888;
}

.draftsUpperSection 
{
    margin-top: 25px;
    margin-left: 10%;	
}

.draftsUpperSection .draftspopupTitle 
{
    margin-left:10px;	
}

.draftsMessage
{
    margin-left: 26%;
    width: 73%;
    margin-right: 0%;
    color:#696969;
}

.draftsMessagePopupStyle
{
	box-shadow: 5px 7px 22px -7px #6D6D6D;
    background-image: url(images/popup_texture.png);
    background-repeat: repeat;
    min-height: 160px;
    font-family: Lato;
    border: 1px solid #D4D4D4;
    position: absolute;
    top:0px;
    width:400px;
}

.draftsHorizontalAlign
{
    display: inline-block;
	vertical-align: top;
}