<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BBGQueueLimit" value="5000"/>
    <add key="BBGTransportName" value="BBGFTP"/>

    <add key="TasksForPerfLoader" value="Loading Task For BBG Bulk"/>
    <add key="ConsiderAllVendors" value="True"/>
    <add key="SecMSubscriptionConfig" value="ConfigFiles\EmailTemplate.xml"/>
    <add key="SMReportConfiguration" value="ConfigFiles\SmReportConfig.xml"/>
    <add key="ReportingCoreConfiguration" value="ConfigFiles\ReportingCoreConfig.xml"/>
    <add key="ReportingSetupConfiguration" value="ConfigFiles\ReportingSetupConfig.xml"/>
    <add key="SecMUIXML" value="ConfigFiles\SecMUIXml.xml"/>
    <add key="SecMImportSetupXSL" value="ConfigFiles\SecMImport.xslt"/>
    <add key="SecMHelpTextConfig" value="ConfigFiles\Embedded\HelpText.xml"/>
    <add key="FieldDetailsSchema" value="ConfigFiles\Embedded\fieldDetails.xsd"/>
    <add key="SecMCoreControlsXSLTConfigPath" value="ConfigFiles\Embedded\Security.xslt"/>
    <add key="SecMDefaultManagerXSLTConfigPath" value="ConfigFiles\Embedded\DefaultManager.xslt"/>
    <add key="SecMAttributeManagementXSLTConfigPath" value="ConfigFiles\Embedded\SMAttributeManagement.xslt"/>
    <!-- Not required end-->
    <add key="aspnet:MaxHttpCollectionKeys" value="15000"/>
    <add key="LicenseKey" value="ConfigFiles\License.txt"/>
    <add key="DefaultFilePath" value="{0}..\CosmosSecMasterFiles\SecMasterFiles\"/>
    <add key="MasterConfigPath" value="ConfigFiles\MasterConfig.xml"/>
    <add key="DalConfigurationPath" value="ConfigFiles\DalConfig.xml"/>
    <add key="LoggerConfigurationPath" value="ConfigFiles\LoggerConfig.xml"/>
    <add key="UserManagementConfigurationPath" value="ConfigFiles\UserManagementConfig.xml"/>
    <add key="SecMSetupConfigPath" value="ConfigFiles\SecMSetupConfig.xml"/>
    <add key="VendorConfigurationPath" value="ConfigFiles\VendorManagement.xml"/>
    <add key="fileTemplateDirectory" value="{0}..\CosmosSecMasterFiles\Documents\SMFileTemplates\"/>
    <add key="ArchiveDestination" value="{0}..\CosmosSecMasterFiles\SecMasterFiles\Archive\"/>
    <add key="DocumentDirectory" value="{0}..\CosmosSecMasterFiles\Documents\"/>
    <add key="AdapterDirectory" value="C:"/>
    <add key="AdapterDll" value="SecMasterAdapters.dll"/>
    <add key="AdapterClass" value="com.ivp.adapters.geneva.GenevaAdapter"/>
    <add key="FromEmailIdForPassword" value="support@ivp.in"/>
    <add key="FromEmailIdForTask" value="support@ivp.in"/>
    <add key="FromEmailIdForReportingTask" value="support@ivp.in"/>
    <add key="FromEmailIdForWorkflow" value="support@ivp.in"/>
    <add key="FromEmailIdForException" value="support@ivp.in"/>
    <add key="FromEmailIdForSecurity" value="support@ivp.in"/>
    <add key="ArchiveType" value="3"/>
    <add key="CustomClassPath" value="CustomClassConfig"/>
    <add key="defaultTheme" value="Aqua"/>
    <add key="ModuleId" value="3"/>
    <add key="AspStateServer" value="aspStateDB"/>
    <add key="ExceptionLotSize" value="100000"/>
    <add key="UseProcess" value="False"/>
    <add key="CacheUserControl" value="False"/>
    <add key="UseHttpCache" value="true"/>
    <add key="CustomReportMaxItems" value="8"/>
    <add key="ClientName" value="Dev Reports"/>
    <add key="RefMReportViewerMethodCall" value="ResizeReport()"/>
    <add key="PolarisUser" value="admin"/>
    <add key="WritePerformanceLog" value="true"/>
    <add key="PerformanceLogPath" value="{0}\..\performancelog.txt"/>
    <!--Included for External Adapter - START-->
    <add key="CorpActionAdapter" value="GenevaAdapter.dll"/>
    <add key="CorpActionAdapterClassName" value="com.ivp.GenevaAdapter.GenevaV7_6.GenevaAdapter"/>
    <add key="CorpActionSystemId" value="1"/>
    <add key="GenevaURL" value="http://192.168.0.21:4640/"/>
    <add key="GenevaPort" value="4635"/>
    <add key="GenevaHostName" value="genevasrv03.ivp.in"/>
    <add key="GenevaUID" value="accessadmin"/>
    <add key="GenevaPassword" value="W3lcome"/>
    <add key="genevaAdapterMapping" value="ConfigFiles\AdapterMapping.xml"/>
    <add key="GenevaSystemId" value="34"/>
    <add key="EzeSystemId" value="35"/>
    <add key="GenevaSystemIdSecMaster" value="34"/>
    <add key="EzeSystemIdSecMaster" value="35"/>
    <add key="GenevaSystemIdRefMaster" value="1"/>
    <add key="EzeSystemIdSecMasterRefMaster" value="2"/>
    <add key="AdapterLogPath" value="{0}\..\ServiceLog\mcWindowsService.txt"/>
    <add key="ezeUid" value="avenuetest"/>
    <add key="ezePwd" value="avenuetest"/>
    <add key="ezePushSize" value="200"/>
    <add key="ResponsePacketSize" value="200"/>
    <add key="SecMasterAttribute" value="geneva_id"/>
    <add key="RefMasterAttribute" value="Geneva_Code"/>
    <!--Included for External Adapter - START-->
    <!--Included for Dashboard - START-->
    <add key="DashboardRequired" value="true"/>
    <add key="DashboardReportName" value="IVP Analytics"/>
    <!--Included for Dashboard - END-->
    <!--Included for Corporate Action - START-->
    <add key="CorpActCoreConfigPath" value="com.ivp.corpact.ui.ConfigFiles.CorpActCoreConfig.xml"/>
    <add key="CorpActControlConfigPath" value="com.ivp.corpact.ui.ConfigFiles.CorpActControlConfig.xml"/>
    <add key="CAReportConfiguration" value="com.ivp.corpact.ui.ConfigFiles.CAReportConfiguration.xml"/>
    <add key="CorpActDBConnectionId" value="CorpActDB"/>
    <add key="CorpActArchiveDBConnectionId" value="CorpActArchiveDB"/>
    <add key="CorpActVendorDBConnectionId" value="CorpActVendorDB"/>
    <add key="CorpActVendorArchiveDBConnectionId" value="CorpActVendorArchiveDB"/>
    <add key="CorpActSetupConfigPath" value="com.ivp.corpact.ui.ConfigFiles.CorpActSetupConfig.xml"/>
    <add key="CorpActSubscriptionConfig" value="ConfigFiles\EmailTemplate.xml"/>
    <add key="CorpActDynamicConfigurationPath" value="com.ivp.corpact.ui.ConfigFiles.CorpActDynamicConfig.xml"/>
    <add key="CorpActWizardFlowConfigPath" value="com.ivp.corpact.ui.ConfigFiles.WizardFlowConfig.xml"/>
    <add key="CorpActWizardConfigPath" value="com.ivp.corpact.ui.ConfigFiles.WizardConfig.xml"/>
    <add key="CorpActReportServicePath" value="com.ivp.corpact.ui.CAService.CAReportingService.asmx"/>
    <add key="CorpActFileTemplateDirectory" value="{0}\..\CosmosSecMasterFiles\Documents\CAFileTemplates"/>
    <add key="CADefaultFilePath" value="{0}\..\CosmosSecMasterFiles\CorpActionFiles\"/>
    <add key="CorpActionHelperXMLPath" value="com.ivp.corpact.ui.ConfigFiles.CustCtrlMapping.xml"/>
    <!--Included for Corporate Action - END-->
    <!--DB Connections SecMaster - Start-->
    <add key="RADDBConnectionId" value="radDB"/>
    <add key="SecMDBConnectionId" value="SecMDB"/>
    <add key="SecMArchiveDBConnectionId" value="SecMArchiveDB"/>
    <add key="SecMVendorDBConnectionId" value="SecMVendorDB"/>
    <add key="SecMVendorArchiveDBConnectionId" value="SecMVendorArchiveDB"/>
    <!--DB Connections SecMaster - End-->
    <!--DB Connections Reference Master - Start-->
    <add key="RefMDBConnectionId" value="refMDB"/>
    <add key="RefMDBArchiveConnectionId" value="refMDB_Archive"/>
    <add key="RefMDBVendorConnectionId" value="refMDBVendor"/>
    <add key="RefMDBVendorArchiveConnectionId" value="refMDBVendor_Archive"/>
    <!--DB Connections Reference Master End-->
    <!--Document Directory-->
    <add key="GPGHomeDirectory" value="{0}\..\GPG"/>
    <add key="ReportingTaskPath" value="{0}\..\CosmosSecMasterFiles\ReportingTask\"/>
    <add key="ArchiveDestination" value="{0}\..\CosmosSecMasterFiles\ReconLoadingFiles\Archive"/>
    <add key="RADFileUploadDirectory" value="{0}\..\CosmosReconFiles\Documents\UploadedFiles\"/>
    <add key="ExtractionReportDestination" value="{0}\..\CosmosSecMasterFiles\RefMasterFiles\"/>
    <add key="SecMasterWorkflowQueue" value="SecMasterWorkflowQueue"/>
    <!--Document Directory-->
    <!--Subscription-->
    <add key="defaultTheme" value="Aqua"/>
    <add key="ModuleId" value="6"/>
    <add key="FromEmailIDForApp" value="productitsupport@ivp.in"/>
    <add key="MailTransportName" value="SMTPNOTIFY"/>
    <add key="NoOfRetry" value="5"/>
    <add key="MailNotificationFrequency" value="2"/>
    <add key="RefMPageTitle" value="IVP RefMaster"/>
    <add key="AllocCount" value="0"/>
    <add key="ReportViewerRowCount" value="2000"/>
    <add key="EnableHardDelete" value="true"/>
    <add key="UIUrl" value="http://localhost:3046/login.aspx"/>
    <add key="LiteUrl" value="http://localhost:2866/"/>
    <add key="ApplicationMode" value="Main"/>
    <add key="InstanceName" value="DEV"/>
    <add key="requestPerLoop" value="5"/>
    <add key="SFTPPrivateKeyPath" value="C:\SCM\CODE\SecMaster\6.6\SecMasterAPI\SecMasterAPI\bin\Debug\ConfigFiles\IVP Private Key.ppk"/>
	<add key="NotificationToEmailIds" value=""/>
  </appSettings>

  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        
    <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
    </serviceHostingEnvironment>
    <client>
      <endpoint address="http://192.168.0.103/SecMasterService7.0/SMDataUploadManagerService" binding="basicHttpBinding" contract="ServiceReference1.ISMDataUploadManager" name="BasicHttpBinding_ISMDataUploadManager"/>
    </client>

    <services>
      <service name="com.ivp.srm.bbgftpservice.SRMBbgFtpApi" behaviorConfiguration="ServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/SRMBBGFTPService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="com.ivp.srm.bbgftpservice.ISRMBbgFtpApi" bindingConfiguration="IncreasedBuffer"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="tcp_Unsecured" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100">
          <readerQuotas maxDepth="1024" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxStringContentLength="2147483647" maxNameTableCharCount="8192"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="CustomuserName">
          <security mode="Message">
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_ICTMService"/>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="httpBinding" transferMode="Buffered" maxBufferSize="67108864" maxReceivedMessageSize="67108864" maxBufferPoolSize="67108864" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <security mode="None"/>
          <readerQuotas maxArrayLength="67108864" maxBytesPerRead="67108864" maxStringContentLength="67108864" maxNameTableCharCount="67108864"/>
        </binding>
        <binding name="IncreasedBuffer" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="tcp_Unsecured" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <!--<serviceDebug includeExceptionDetailInFaults="false"/>-->
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <!--<behavior name="ThirdPartyUpdateServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceCredentials>
						<serviceCertificate findValue="CosmosSecMaster" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
						<clientCertificate>
							<authentication customCertificateValidatorType="com.ivp.rad.servicesecuritymanagement.RServiceCertificateValidator,RServiceSecurityManager"
							  certificateValidationMode="Custom" revocationMode="NoCheck" />
						</clientCertificate>

						<userNameAuthentication userNamePasswordValidationMode="Custom"
						  includeWindowsGroups="false" customUserNamePasswordValidatorType="com.ivp.rad.servicesecuritymanagement.RServiceAuthentication,RServiceSecurityManager" />
						<windowsAuthentication includeWindowsGroups="false" />
					</serviceCredentials>
					<serviceAuthorization serviceAuthorizationManagerType="com.ivp.rad.servicesecuritymanagement.RServiceAuthorizationManager,RServiceSecurityManager" />
				</behavior>-->
        <behavior name="ProcessListenerBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>

      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehaviour">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
